<div class="container">
    <h3>Добавить нового человека</h3>
    <div class="row">
            <input type="text" class="form-control col-3 mr-2" id="name" aria-describedby="emailHelp" placeholder="Введите имя" (input)="onInput($event)" [(ngModel)]="name">
            <input type="text" class="form-control col-3 mr-2" id="surname" placeholder="Введите фамилию"  (input)="onInput($event)" [(ngModel)]="surname">
            <input type="text" class="form-control col-3 mr-2" id="telephone" placeholder="Введите номер телефона" (input)="onInput($event)" [(ngModel)]="telephone">
            <button type="submit" class="btn btn-primary col-2" (click)="addPeople()" [disabled]="disabled">Добавить</button>
    </div>
</div>




