<div class="container" *ngIf="!edit">
    <div class="row mb-2">
        <p class="col-1" style="text-align: center;">{{p.id}}</p>
        <p class="col-2 mr-2" style="text-align: center;">{{p.name}}</p>
        <p class="col-2 mr-2" style="text-align: center;">{{p.surname}}</p>
        <p class="col-3 mr-2" style="text-align: center;">{{p.telephone}}</p>
        <button type="button" class="btn btn-primary col-2 mr-3" (click)="editPeople(p)">Редактировать</button>
        <button type="button" class="btn btn-danger col-1" (click)="deletePeople(p.id)">Удалить</button>
    </div>
</div>

<div class="container" *ngIf="edit">
        <div class="row mb-2">
            <p class="col-1" style="text-align: center;">{{p.id}}</p>
            <input type="text" class="form-control col-2 mr-2" id="name" aria-describedby="emailHelp" placeholder="Введите имя" [(ngModel)]="name" (input)="onInput($event)">
            <input type="text" class="form-control col-2 mr-2" id="surname" placeholder="Введите фамилию" [(ngModel)]="surname" (input)="onInput($event)">
            <input type="text" class="form-control col-3 mr-2" id="telephone" placeholder="Введите номер телефона" [(ngModel)]="telephone" (input)="onInput($event)">
            <button type="button" class="btn btn-success col-2 mr-3" (click)="savePeople(p.id)" [disabled]="disabled">Сохранить</button>
            <button type="button" class="btn btn-danger col-1" disabled>Удалить</button>
        </div>
</div>


